*, *::after, *::before {
    margin: 0;
    padding: 0;
}

:root {
    --standart-color: #c9cccf;
    --standart-bg: #161617;
}

body {
    background-color:  var(--standart-bg);
    color: var(--standart-color);

    color-scheme: dark;

    font-family: 'Open Sans', sans-serif;
}
